.pageBackground {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
}

.pageForeground {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 80rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}